<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<% if @posts.present? %>
  <table class="table" id="posts">
    <thead>
      <tr>
        <th>#</th>
        <th>body</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <%= render post %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div>empty</div>
<% end %>

<%= link_to "New post", new_post_path %>
